*{
    margin: 0px;
    padding: 0px;
    font-family: monospace;
}

html{
    scroll-behavior: smooth;
}

$f: flex;
$sa: space-around;
$sb: space-between;
$c: center;
$co: column;
$ro: row;
$fw: wrap;

$d0: 1600px;
$d1: 1200px;
$d2: 922px;
$d3: 768px;
$d4: 480px;


@mixin d0 {
    @media (max-width: #{$d0}){
        @content;
    }
}

@mixin d1 {
    @media (max-width: #{$d1}){
        @content;
    }
}


@mixin d2 {
    @media (max-width: #{$d2}){
        @content;
    }
}

@mixin d3 {
    @media (max-width: #{$d3}){
        @content;
    }
}

@mixin d4 {
    @media (max-width: #{$d4}){
        @content;
    }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  
  @keyframes border-blinking {
    from, to { border-color: transparent }
    50% { border-color: tomato }
  }

  @keyframes pulse {
    0% { box-shadow: 0 0 0 0 adjust-hue(purple, 45deg) }
  }

  @keyframes inf { 
    0%{background-position:0% 36%}
    50%{background-position:100% 65%}
    100%{background-position:0% 36%}
}

@keyframes inf1 { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

body{
    
    #arrow{
        width: 50px;
        height: 50px;
        position: fixed;
        border-radius: 50%;
        bottom: 4%;
        right: 3.5%;
        display: $f;
        justify-content: $c;
        align-items: $c;

        @include d4{
            display: none;
        }

        a{
            font-size: 3em;
            color: red;
            transition: 0.8s;
            border-radius: 50%;
        }

        a:hover{
            color: purple;
            transform: translateY(-5px);
        }
    }
}

body{

    nav{
        width: 100%;
        background-color: black;
        position: fixed;
        top: 0px;
        z-index: 5;
        border-bottom: 4px solid tomato;

        #menu{
            width: 90%;
            margin: 0px auto;

            @include d1{
                width: 95%;
            }

            @include d2{
                width: 100%;
            }
            
            ul{
                list-style-type: none;
                display: flex;
                justify-content: space-around;
                align-items: $c;

                @include d4{
                    flex-direction: $co;
                }

                li{
                    margin: 2.3% 0%;

                    a{
                        font-size: 1.8em;
                        text-decoration: none;
                        color: white;
                        font-weight: bold;
                        position: relative;
                        transition: 0.8s;

                        @include d3{
                            font-size: 1.3em;
                        }

                        @include d4{
                            text-align: center;
                        }
                    }

                    a:before,a:after{
                        height: 14px;
                        width: 14px;
                        position: absolute;
                        content: '';
                        transition: all 0.35s ease;
                        opacity: 0;
                    }

                    a:before{
                        left: -15%;
                        top: -15%;
                        border-left: 3px solid #e24332;
                        border-top: 3px solid #e24332;
                        transform: translate(100%, 50%);
                    }

                    a:after{
                        right: -15%;
                        bottom: -15%;
                        border-right: 3px solid #e24332;
                        border-bottom: 3px solid #e24332;
                        transform: translate(-100%, -50%);
                    }

                    a:hover:before,a:hover:after{
                        transform: translate(0%, 0%);
                        opacity: 1;
                    }

                    a:hover{
                        color: lighten(tomato,5%);
                    }
                }
            }

            ul *{
                box-sizing: border-box;
                transition: all 0.35s ease;
            }
        }
    }
}

body{

    #cover{
        width: 100%;
        height: 100vh;
        background-image: url(img/background2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;

        #fade{
            width: 100%;
            height: 100vh;
            background-color: rgba(0,0,0,0.8);
            display: $f;
            flex-direction: $co;
            justify-content: $c;
            align-items: $c;
            color: white;

            #contained{
                width: 40%;
                display: $f;
                flex-direction: $co;
                align-items: $c;

                @include d0{
                    width: 70%;
                }

                @include d1{
                    width: 80%;
                }

                @include d3{
                    width: 90%;
                }

                @include d4{
                    width: 100%;
                }

            h1{
                font-size: 5em;
                color: lighten(red,15%);
                padding-bottom: 4%;

                @include d3{
                    font-size: 3.7em;
                }

                @include d4{
                    font-size: 2.5em;
                    padding-bottom: 10%;
                }

            }

            p:first-of-type{
                font-size: 3.2em;
                color: darken(tomato,20%);
                overflow: hidden; 
                    white-space: nowrap;
                    border-right: .15em solid white;
                    color: tomato;
                    margin: 0 auto;
                    animation: 
                      typing 3.3s steps(40, end),
                      border-blinking .5s step-end infinite;

                      @include d3{
                          font-size: 2.8em;
                      }

                      @include d4{
                          font-size: 2em;
                      }
            }

            a{
                font-size: 1.6em;
                text-decoration: none;
                display: block;
                padding: 4% 5.5%;
                margin-top: 5%;
                color: white;
                border: 3px solid darken(tomato, 30%);
                transition: 0.8s;

                @include d0{
                    padding: 2% 5%;
                }

                @include d1{
                    padding: 2.5% 3.5%;
                }

                @include d3{
                    padding: 3.2% 5%;
                }

                @include d4{
                    margin-top: 10%;
                }
            }

            a:hover{
                animation: pulse 1s;
                box-shadow: 0 0 0 2em rgba(#fff,0);
                color: tomato;
            }



        }
    }
    }
}

body{
    
    #about{
        width: 100%;
        background-color: black;
        display: $f;
        justify-content: $c;
        align-items: $c;

        #info{
            width: 80%;
            display: $f;
            justify-content: $sa;
            align-items: $c;
            flex-wrap: $fw;
            margin: 10% 0%;

            @include d1{
                width: 90%;
            }

            @include d2{
                width: 100%;
            }

            #image{
                width: 35%;

                @include d1{
                    width: 40%;
                }

                @include d2{
                    width: 45%;
                }

                @include d3{
                    width: 90%;
                    order: 2;
                    margin: 15% 0%;
                }

                img{
                    width: 100%;
                }
            }

            #text{
                width: 50%;

                @include d2{
                    width: 43%;
                }

                @include d3{
                    width: 90%;
                }

                @include d4{
                    margin-top: 35%;
                }

                h2{
                    font-size: 3.5em;
                    padding-bottom: 10%;
                    text-align: center;
                    color: white;

                    @include d1{
                        font-size: 3.2em;
                    }

                    @include d2{
                        font-size: 2.5em;
                        padding-top: 15%;
                    }

                    @include d4{
                        font-size: 2em;
                        padding-bottom: 30%;
                    }

                    label{
                        border-bottom: 4px solid darken(tomato,20%);
                        padding-bottom: 1%;

                        @include d2{
                            padding-bottom: 3%;
                        }
                    }
                }

                p{
                    font-size: 1.8em;
                    line-height: 40px;
                    color: white;

                    @include d1{
                        font-size: 1.6em;
                    }

                    @include d2{
                        font-size: 1.3em;
                    }
                }

                #cv1{
                    display: block;
                    width: 20%;
                    text-align: center;
                    margin: 5% auto;
                    font-size: 1.5em;
                    color: white;
                    text-decoration: none;
                    background-color: red;
                    padding: 3% 5%;
                    font-weight: bold;
                    transition: 0.8s;

                    @include d0{
                        width: 35%;
                    }

                    @include d1{
                        width: 30%;
                        padding: 5% 4%;
                        margin-bottom: 10%;
                    }

                    @include d2{
                        width: 43%;
                    }
                }

                #cv1:hover{
                    background-color: tomato;
                }

                p:nth-of-type(2){
                    padding: 4% 0%;
                }

                p:nth-of-type(3){
                    padding: 4% 0%;
                }

                p:last-of-type{
                    font-size: 1.5em;
                    text-align: center;

                    @include d2{
                        font-size: 1.3em;
                    }

                    @include d4{
                        font-size: 1.2em;
                    }
                }

                #icons{
                    width: 20%;
                    margin: 5% auto;
                    display: $f;
                    justify-content: $sa;

                    @include d0{
                        width: 30%;
                    }

                    @include d1{
                        width: 40%;
                    }

                    @include d2{
                        margin-top: 10% ;
                    }

                    @include d4{
                        width: 50%;
                    }

                    i{
                        font-size: 2.7em;
                        transition: 0.8s;
                        color: white;
                    }

                    .f:hover{
                        color: blue;
                        transform: rotate(8deg);
                    }

                    .f1:hover{
                        color: purple;
                        transform: rotate(8deg);
                    }
                }
            }
        }
    }
}

body{

    #skills{
        width: 100%;
        background-color: black;
        display: $f;
        flex-direction: $co;
        justify-content: $c;
        align-items: $c;
        border-top: 4px solid red;

        h2{
            font-size: 4em;
            padding: 7% 0% 10% 0%;
            font-weight: bold;
            color: darken(white, 5%);

            @include d3{
                font-size: 3.5em;
                padding: 15% 0%;
            }

            @include d4{
                font-size: 2.6em;
            }
        }

        #graphs{
            width: 90%;
            display: $f;
            justify-content: $sa;
            align-items: $c;
            flex-wrap: $fw;
            margin-bottom: 8%;

            @include d1{
                width: 95%;
                margin-bottom: 20%;
            }

            #left{
                width: 40%;
                color: white;
                display: $f;
                flex-direction: $co;
                align-items: $c;

                @include d0{
                    width: 43%;
                }

                @include d1{
                    width: 45%;
                }

                @include d2{
                    width: 90%;
                    margin: 10% 0%;
                }

                @include d3{
                    width: 95%;
                }

                h3{
                    font-size: 3em;
                    padding: 5% 0% 10% 0%;

                    @include d4{
                        font-size: 2.4em;
                        padding: 15% 0%;
                    }

                    label{
                        border-bottom: 4px solid red;
                        padding-bottom: 1.5%;
                    }
                }

                .hor{
                    width: 100%;
                    margin: 3% 0%;
                    display: $f;
                    justify-content: $sb;
                    align-items: $c;
                    font-size: 1.5em;


                }

                .flow{
                    display: $f;
                    justify-content: $sb;
                    padding: 2.5% 2%;
                    background: linear-gradient(300deg, #f20606, #d53939, #bb2525);
                    background-size: 600% 600%;
                    animation: inf 1.5s ease infinite;
                }

                .fl1{
                    width: 100%;
                }

                .fl2{
                    width: 100%;
                }

                .fl3{
                    width: 60%;

                    @include d0{
                        width: 65%;
                    }

                    @include d1{
                        width: 70%;
                    }

                    @include d4{
                        width: 75%;
                    }
                }

                .fl4{
                    width: 40%;

                    @include d0{
                        width: 45%;
                    }

                    @include d1{
                        width: 50%;
                    }

                    @include d4{
                        width: 60%;
                    }
                }
            }

            #right{
                width: 40%;
                display: $f;
                flex-direction: $co;
                justify-content: $sa;
                align-items: $c;

                @include d0{
                    width: 43%;
                }

                @include d2{
                    width: 80%;
                }

                @include d4{
                    width: 100%;
                }

                h3{
                    font-size: 3em;
                    padding: 5% 0% 13% 0%;
                    color: white;

                    @include d0{
                        padding-top: 20%;
                    }

                    @include d4{
                        font-size: 2.3em;
                        padding: 15% 0%;
                    }

                    label{
                        border-bottom: 4px solid purple;
                        padding-bottom: 1.5%;
                    }
                }

                #ver1{

                    display: $f;
                    width: 100%;
                    justify-content: $sa;
                    align-items: $c;

                .ver{
                    width: 20%;
                    height: 350px;
                    display: $f;
                    align-items: flex-end;

                    @include d0{
                        width: 27%;
                    }

                    @include d1{
                        width: 35%;
                    }

                    @include d2{
                        width: 22%;
                    }

                    @include d3{
                        width: 35%;
                    }

                    @include d4{
                        width: 41%;
                    }

                    .flow1{
                        width: 100%;
                        height: 100%;
                        background-color: blue;
                        display: $f;
                        flex-direction: $co;
                        justify-content: $sb;
                        align-items: $c;
                        font-size: 1.5em;
                        text-align: center;
                        color: white;
                        background: linear-gradient(90deg, #8830b0, #ac5fd0, #b288c6);
                        background-size: 500% 500%;
                        animation: inf1 1.5s ease infinite;
                    }

                    .ff1{
                        height: 80%;
                    }

                    .ff2{
                        height: 60%;
                    }
                }
            }
            }
        }
    }
}

body{

    #projects{
        width: 100%;
        display: $f;
        justify-content: $c;
        flex-direction: $co;
        align-items: $c;
        background-color: #000;

        h2{
            font-size: 4em;
            padding: 7% 0% 10% 0%;
            font-weight: bold;
            color: white;

            @include d3{
                font-size: 2.7em;
                padding: 20% 0%;
            }

            @include d4{
                font-size: 1.8em;
            }

            label{
                border-bottom: 4px solid tomato;
                padding-bottom: 2%;
            }
        }

        #boxes{
            width: 80%;
            display: $f;
            justify-content: $sa;
            align-items: $c;
            flex-wrap: $fw;
            margin: 1% 0% 7% 0%;

            @include d1{
                width: 90%;
            }

            @include d2{
                width: 98%;
            }

            @include d3{
                margin: 15% 0%;
            }

            .box{
                width: 40%;
                position: relative;
                height: 350px;
                display: $f;
                justify-content: flex-end;
                margin: 3% 0%;
                align-items: $c;
                padding: 2% 1%;
                border: 4px solid white;

                @include d3{
                    width: 75%;
                    margin: 5% 0%;
                }

                @include d4{
                    width: 83%;
                }


                .picture1{
                    position: absolute;
                    z-index: 3;
                    width: 45%;
                    top: 6%;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 85%;
                    left: -7%;
                    border: 2px solid white;
                    box-shadow: 10px 10px 5px 0px rgba(194,194,194,0.3);

                    @include d2{
                        width: 48%;
                    }

                    img{
                        width: 100%;
                    }
                }

                .p1{
                    background-image: url(img/project3.png);
                }

                .p2{
                    background-image: url(img/project.png);
                }

                .p3{
                    background-image: url(img/project2.png);
                }

                .p4{
                    background-image: url(img/project1.png);
                }

                .text1{
                    display: $f;
                    height: 100%;
                    width: 47%;
                    justify-content: $sa;
                    flex-direction: $co;
                    align-items: $c;
                    text-align: center;
                    margin-right: 4%;
                    color: white;

                    @include d1{
                        width: 50%;
                    }

                    @include d2{
                        width: 44%;
                    }
                    
                    h3{
                        font-size: 2.5em;
                        text-transform: uppercase;
                        color: lighten(red, 15%);
                        
                        @include d4{
                            font-size: 2em;
                        }
                        
                    }

                    p{
                        font-size: 1.5em;

                        @include d4{
                            font-size: 1.3em;
                        }
                    }

                    p:last-of-type{
                        padding: 4% 0%;
                    }

                    a{
                        display: block;
                        padding: 10% 15%;
                        text-decoration: none;
                        font-size: 1.4em;
                        transition:0.7s;
                        border: 3px solid purple;
                        color: lighten(purple, 10%);
                        font-weight: bold;

                        @include d1{
                            font-size: 1.1em;
                        }

                        @include d2{
                            font-size: .9em;
                            width: 80%;
                            padding: 15% 9%;
                        }

                        @include d3{
                            font-size: 1.3em;
                            width: 85%;
                        }

                        @include d4{
                            width: 90%;
                            font-size: 1em;
                        }
                    }

                    a:hover{
                        box-shadow: 0 0.5em 0.5em -0.2em adjust-hue(purple, 45deg);
                        transform: translateY(-0.25em);
                        border-color: darken(purple, 10%);
                    }
                }
            }
        }
    }
}

body{

    #contact{
        width: 100%;
        background-color: #000;
        display: $f;
        flex-direction: $co;
        align-items: $c;
        justify-content: $c;

        h2{
            font-size: 4em;
            padding: 7% 0% 5% 0%;
            font-weight: bold;
            color: white;

            @include d3{
                font-size: 2.8em;
            }

            @include d4{
                font-size: 1.9em;
                padding-bottom: 20%;
            }

            label{
                border-bottom: 4px solid red;
                padding-bottom: 1.5%;
            }
        }

        #contactForm{
            width: 80%;
            display: $f;
            justify-content: $c;
            align-items: $c;
            flex-direction: $co;
            margin: 1% 0% 8% 0%;


            @include d3{
                width: 100%;
                margin: 15% 0%;
            }

            form{
                display: $f;
                flex-direction: $co;
                width: 30%;
                border: none;
                margin-bottom: 10%;

                @include d0{
                    width: 40%;
                }

                @include d1{
                    width: 50%;
                }

                @include d3{
                    width: 70%;
                }

                @include d4{
                    width: 90%;
                }

                label{
                    font-size: 2em;
                    padding: 4% 0%;
                    color: white;
                }

                .a1{
                    padding: 2%;
                    margin: 3% 0%;
                    border: none;
                    border-bottom: 4px solid tomato;
                    transition: 0.8s;
                    color: white;
                    background-color: black;
                }

                .a1:focus{
                    background-color: lighten(black,10%);
                    color: white;
                }

                textarea{
                    resize: none;
                    margin: 8% 0%;
                    padding: 2% 0% 0% 2%;
                    border: none;
                    border-bottom: 4px solid tomato;
                    transition: 0.7s;
                    background-color: black;
                    color: white;
                }

                textarea:focus{
                    background-color: lighten(black,10%);
                    color: white;
                }

                #button2{
                    width: 40%;
                    display: block;
                    margin: 6% auto;
                    padding: 5%;
                    font-size: 1.6em;
                    font-weight: bold;
                    color: tomato;
                    border: 4px solid lighten(red, 5%);
                    background-color: black;
                    transition: 1s;
                }

                #button2:hover{
                    box-shadow: 
                    inset -4.3em 0 0 0 adjust-hue(purple, 45deg),
                    inset 4.3em 0 0 0 adjust-hue(purple, 45deg);
                    
                    @include d0{
                        box-shadow: 
                        inset -5.3em 0 0 0 adjust-hue(purple, 45deg),
                        inset 5.3em 0 0 0 adjust-hue(purple, 45deg);
                    }
                }
            }

            p{
                color: white;
                font-size: 3em;
            }

            div{
                width: 20%;
                margin-top: 5%;
                display: $f;
                justify-content: $sa;
                font-size: 2.6em;

                @include d0{
                    width: 40%;
                }

                @include d1{
                    width: 50%;
                }

                @include d3{
                    width: 60%;
                }

                @include d4{
                    width: 80%;
                }

                a{
                    color: white;
                    text-decoration: none;
                    transition: .8s;
                }

                a:hover{
                    color: tomato;
                }
            }
        }
    }
}